In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("./train_data.csv")

In [4]:
df.describe()

,id,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,y
count,27000.00000,27000.000000,27000.000000,27000.000000,27000.000000,27000.000000,27000.000000,27000.000000,27000.000000,27000.000000,...,27000.000000,27000.000000,27000.000000,27000.000000,2.700000e+04,27000.000000,27000.000000,27000.000000,27000.000000,27000.000000
mean,13499.50000,166856.284444,1.603074,1.853741,1.551556,35.502407,-0.012519,-0.128185,-0.162370,-0.216037,...,43247.852074,40345.600926,38894.870926,5644.593222,5.934313e+03,5229.052593,4855.124630,4782.051667,5238.613148,0.222000
std,7794.37297,129363.239705,0.489269,0.789234,0.521767,9.221539,1.121953,1.196953,1.195634,1.169587,...,64150.721252,60681.919736,59547.938323,16499.811285,2.360826e+04,17745.539585,15826.973077,15154.386855,17865.467132,0.415599
min,0.00000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6749.75000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2392.750000,1798.500000,1287.000000,1000.000000,8.500000e+02,396.000000,300.000000,272.000000,140.000000,0.000000
50%,13499.50000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19114.000000,18219.500000,17179.000000,2100.000000,2.009000e+03,1800.000000,1500.000000,1500.000000,1500.000000,0.000000
75%,20249.25000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54537.750000,50211.000000,49243.500000,5007.000000,5.000000e+03,4500.000000,4014.250000,4069.000000,4002.250000,0.000000
max,26999.00000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.000000,621000.000000,426529.000000,528666.000000,1.000000

In [9]:
df[:5][["id","X1"]]

   id      X1
0   0   20000
1   1  120000
2   2   90000
3   3   50000
4   4   50000

In [15]:
df.shape

(27000, 25)

In [22]:
df.iloc[:4,:-1]

,id,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X14,X15,X16,X17,X18,X19,X20,X21,X22,X23
0,0,20000,2,2,1,24,2,2,-1,-1,...,689,0,0,0,0,689,0,0,0,0
1,1,120000,2,2,2,26,-1,2,0,0,...,2682,3272,3455,3261,0,1000,1000,1000,0,2000
2,2,90000,2,2,2,34,0,0,0,0,...,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000
3,3,50000,1,2,1,57,-1,0,-1,0,...,35835,20940,19146,19131,2000,36681,10000,9000,689,679

In [25]:
df.query("X1 > 100000")

,id,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,y
1,1,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
5,5,500000,1,1,2,29,0,0,0,0,...,542653,483003,473944,55000,40000,38000,20239,13750,13770,0
7,7,140000,2,3,1,28,0,0,2,0,...,12211,11793,3719,3329,0,432,1000,1000,1000,0
9,9,200000,2,3,2,34,0,0,2,0,...,2513,1828,3731,2306,12,50,300,3738,66,0
10,10,260000,2,1,2,51,-1,-1,-1,-1,...,8517,22287,13668,21818,9966,8583,22301,0,3640,0
12,12,250000,1,1,2,29,0,0,0,0,...,59696,56875,55512,3000,3000,3000,3000,3000,3000,0
15,15,360000,2,1,1,49,1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
16,16,180000,2,1,2,29,1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
17,17,130000,2,3,2,39,0,0,0,0,...,20616,11802,930,3000,1537,1000,2000,930,33764,0
19,19,450000,2,1,1,40,-2,-2,-2,-2,...,560,0,0,19428,1473,560,0,0,1128,1
25,25,230000,2,1,2,27,-1,-1,-1,-1,...,15339,14307,36923,17270,13281,15339,14307,37292,0,0
28,28,500000,2,2,1,54,-2,-2,-2,-2,...,7521,71439,8981,4152,22827,7521,71439,981,51582,0
29,29,160000,1,1,2,30,-1,-1,-2,-2,...,-923,-1488,-1884,131,396,396,565,792,0,0
30,30,280000,1,2,1,40,0,0,0,0,...,170410,173901,177413,8026,8060,6300,6400,6400,6737,0
33,33,280000,1,1,2,31,-1,-1,2,-1,...,9976,17976,9477,9075,0,9976,8000,9525,781,0
34,34,360000,1,1,2,33,0,0,0,0,...,628699,195969,179224,10000,7000,6000,188840,28000,4000,0
37,37,140000,2,2,1,37,0,0,0,0,...,64280,67079,69802,3000,3000,3000,4000,4000,3000,0
39,39,210000,1,1,2,29,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,1
41,41,150000,2,5,2,46,0,0,-1,0,...,1170,0,0,1013,1170,0,0,0,0,1
42,42,380000,1,2,2,32,-1,-1,-1,-1,...,32018,11849,11873,21540,15138,24677,11851,11875,8251,0
46,46,310000,2,2,1,49,-2,-2,-2,-2,...,11185,3544,464,7875,7600,11185,3544,464,0,0
47,47,180000,2,1,2,25,1,2,0,0,...,43510,44420,45319,1300,2010,1762,1762,1790,1622,0
48,48,150000,2,1,2,29,2,0,0,0,...,26518,21042,16540,1600,1718,1049,1500,2000,5000,0
49,49,500000,2,1,1,45,-2,-2,-2,-2,...,0,151,2530,3640,162,0,151,2530,0,0
50,50,180000,2,3,1,34,0,0,0,-1,...,7142,-679,8321,8500,1500,7500,679,9000,2000,0
51,51,180000,2,2,1,34,0,0,0,0,...,168608,132202,129918,8083,7296,5253,4814,4816,3800,0
52,52,200000,2,1,2,34,-1,3,2,2,...,1166,700,1414,0,0,700,0,1200,0,0
53,53,400000,2,2,1,29,0,0,0,0,...,360199,356656,364089,17000,15029,30000,12000,12000,23000,0
54,54,500000,2,3,1,28,0,0,0,0,...,14937,13827,15571,1516,1300,1000,1000,2000,2000,1
58,58,130000,2,2,1,51,-1,-1,-2,-2,...,0,2353,0,0,0,0,2353,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26954,26954,280000,1,1,1,39,0,0,0,0,...,40939,44290,70573,1652,2144,1666,5015,32013,12,0
26955,26955,220000,1,1,1,32,-1,2,-1,-1,...,292,528,264,0,264,292,500,0,264,0
26956,26956,160000,1,1,2,30,0,0,0,0,...,69659,70186,75249,5237,3034,3010,5011,10006,8070,0
26957,26957,210000,1,2,2,30,-1,-1,-1,-1,...,1252,626,626,3980,7509,1252,0,626,626,0
26958,26958,170000,1,1,2,30,0,0,0,0,...,0,0,0,5115,2500,0,0,0,0,0
26959,26959,180000,1,2,2,30,0,0,0,0,...,14834,1415,47417,2124,1588,1526,66,57317,70052,0
26960,26960,410000,1,1,2,32,-1,2,-1,-1,...,380,190,1539,0,190,380,0,1539,0,0
26961,26961,150000,1,1,2,30,0,0,0,-1,...,1610,1180,2980,2000,2000,2000,1000,3000,0,0
26962,26962,230000,1,3,2,31,0,-1,-1,-1,...,417,613,-191,1000,1000,1000,1000,0,0,0
26963,26963,290000,1,1,2,32,-1,-1,-1,-1,...,35379,18711,3110,1575,108168,35811,18711,0,157,0
26965,26965,260000,1,1,2,33,-2,-2,-2,-2,...,1368,101,955,263,0,1368,101,955,0,0
26966,26966,610000,1,1,2,31,0,-1,2,-1,...,347303,248893,269528,323014,1605,349395,250144,271099,220076,0
26967,26967,360000,1,1,2,31,-1,-1,-1,0,...,18498,18422,1842,51,20007,1590,1000,1842,390,0
26968,26968,140000,1,2,1,32,0,0,0,0,...,137450,135638,136375,6300,6500,6300,6000,5200,5000,0
26969,26969,150000,1,5,2,31,2,0,0,0,...,0,0,0,4633,2000,0,0,0,0,1
26972,26972,200000,1,2,1,33,0,0,0,0,...,56768,58826,67577,5000,2183,2059,3000,9751,3000,0
26973,26973,360000,1,1,1,34,-1,-1,-1,0,...,49005,8676,19487,52951,64535,8907,53,19584,16080,0
26975,26975,190000,1,1,1,37,0,0,0,0,...,29223,19616,148482,2000,3869,25128,10115,148482,4800,0
26976,26976,230000,1,2,1,35,1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,1
26978,26978,220000,1,2,1,41,0,0,-1,-1,...,5924,1759,1824,8840,6643,5924,1759,1824,7022,0
26980,26980,420000,1,1,2,34,0,0,0,0,...,141695,144839,147954,7000,7000,5500,5500,5600,5000,0
26981,26981,310000,1,2,1,39,0,0,0,0,...,219409,216540,210675,10029,9218,10029,8049,8040,10059,0
26982,26982,180000,1,1,1,32,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
26988,26988,240000,1,1,2,30,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,0
26989,26989,360000,1,1,2,35,-1,-1,-2,-2,...,0,0,0,0,0,0,0,0,0,0
26990,26990,130000,1,1,2,34,0,0,0,0,...,108047,93708,97353,3000,2000,93000,4000,5027,4005,0
26991,26991,150000,1,1,2,35,-1,-1,-1,-1,...,780,0,0,9054,0,783,0,0,0,0
26992,26992,140000,1,2,1,41,0,0,0,0,...,138262,49675,46121,6000,7000,4228,1505,2000,2000,0
26993,26993,210000,1,2,1,34,3,2,2,2,...,2500,2500,2500,0,0,0,0,0,0,1
26996,26996,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0